body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 30px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 2em;
    font-size: 2em;
    color: #0e0b0b;
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#texto-piada {
    font-family: 'Roboto Slab', serif;
    font-size: 1.0vw;
    color: #020202;
    margin-bottom: 7px;
}

#botao-piada {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botao-piada:hover {
    background-color: #333333;
}

.bg_video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.balao {
    display: inline-block;
    padding: 12%;
    background-color: white;
    border: 2px;
    left: 10%;
    top: 5%;
    margin-bottom: 10%;
    position: relative;
    max-width: 250px;
    height: 150px;
    border-radius: 50%;
}

.balao::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 11%;
    top: 11%;
    background-color: white;
    border: 2px;
    border-color: transparent blue blue transparent;
    transform: rotate(90deg);
}
.balao {
    display: inline-block;
    padding: 12%;
    background-color: white;
    border: 2px;
    left: 10%;
    top: 5%;
    border-radius: 50%;
    margin-bottom: 100%;
    position: relative;
    max-width: 250px;
    height: 150px; 
}

.balao::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 11%;
    top: 11%;
    background-color: white;
    border: 2px;
    border-color: transparent blue blue transparent;
    transform: rotate(90deg);
}